<html>
  <head>
    <title>Express Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Dev Skills Learned as of <%= time %></h1>
      <ul>
          <% devSkills.forEach((dS, index) => { %>
            <li>
              <form action="/devSkills/<%= index $>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
              <a href='/devSkills/<%= index %>'>
                <%= dS.devSkill %>
              </a>
                -
                <%= dS.learned ? 'yes' : 'not quite' %>
            </li>
        <% }) %>
      </ul>
      <a href="/devSkills/new">Add New Skill</a>
  </body>
</html>
